/*-- scss:defaults --*/

/*-- scss:rules --*/

/* Slide number styles */
html .reveal.has-logo .slide-number{
  top: initial !important;
  right: 8px !important;
  bottom: 8px !important;
}

/* Logo style */
html .reveal .slide-logo{
  display : block !important;
  position: fixed !important;
  bottom: initial !important;
  right: 12px !important;
  max-height: 2.2rem !important;
  height: 100% !important;
  width: auto !important;
  z-index: 2 !important;
}


/*Font size*/
html .reveal .slides {
  font-size: 0.8em;
}